<div class="card">
    <p-toast />
    <h2>Authors</h2>
    <p-toolbar class="m-1">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        </ng-template>
    </p-toolbar>
    <p-table
        #dt
        [value]="authors"
        [paginator]="true"
        [rows]="10"
        [globalFilterFields]="['name', 'surname']"
        [tableStyle]="{ 'min-width': '75rem' }"
        showGridlines=true
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Manage authors</h5>
                <p-iconfield>
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="min-width:14rem">
                    <div class="flex items-center gap-2">
                        Name
                        <p-sortIcon field="name" />
                    </div>
                </th>
                <th pSortableColumn="surname" style="min-width:14rem">
                    <div class="flex items-center gap-2">
                        Surname
                        <p-sortIcon field="surname" />
                    </div>
                </th>
                <th style="width: 10rem; ">
                    <div class="flex items-center gap-2">
                        Action
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-author>
            <tr>
                <td style="min-width: 14rem">{{ author.name }}</td>
                <td style="min-width: 14rem">{{ author.surname }}</td>
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        class="mr-2"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="editAuthor(author)" />
                    <p-button
                        icon="pi
                        pi-trash"
                        severity="danger"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="confirm(author)" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No authors to show</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="authorDialog" header="Author Details" [modal]="true">
        <form *ngIf="authorForm" [formGroup]="authorForm" (ngSubmit)="saveAuthor()">
            <div class="flex flex-col gap-4">

                <div>
                    <label for="name" class="block font-bold mb-2">
                        Name
                    </label>

                    <input
                        pInputText
                        id="name"
                        formControlName="name"
                        class="w-full p-inputtext-sm"
                        style="font-size: medium;"
                    />

                    <small
                        class="p-error"
                        *ngIf="authorForm.get('name')?.touched && authorForm.get('name')?.hasError('required')">
                        Name is required.
                    </small>

                    <small
                        class="p-error"
                        *ngIf="authorForm.get('name')?.touched && authorForm.get('name')?.hasError('minlength')">
                        Name must contain at least 3 characters.
                    </small>

                    <small
                        class="p-error"
                        *ngIf="authorForm.get('name')?.touched && authorForm.get('name')?.hasError('maxlength')">
                        Name cannot contain more than 50 characters.
                    </small>
                </div>

                <div>
                    <label for="surname" class="block font-bold mb-2">
                        Surname
                    </label>

                    <input
                        pInputText
                        id="surname"
                        formControlName="surname"
                        class="w-full p-inputtext-sm"
                        style="font-size: medium;"
                    />

                    <small
                        class="p-error"
                        *ngIf="authorForm.get('surname')?.touched && authorForm.get('surname')?.hasError('maxlength')">
                        Surname cannot contain more than 50 characters.
                    </small>
                </div>
            </div>
        </form>
        <ng-template #footer>
            <p-button label="Cancel" icon="pi pi-times" text (onClick)="authorDialog=false"></p-button>
            <p-button label="Save" [disabled]="authorForm.invalid" (onClick)="saveAuthor()"></p-button>
        </ng-template>
    </p-dialog>

    <p-confirmdialog #cd>
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                    <i class="pi pi-question !text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Delete" (onClick)="onAccept()" styleClass="w-32"></p-button>
                    <p-button label="Cancel" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>

</div>
