<div class="card">
    <p-toast/>
    <h2>Users</h2>
    <p-toolbar class="m-1">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()"/>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="users"
        [loading]="loading"
        [paginator]="true"
        [rows]="10"
        [globalFilterFields]="['name', 'description']"
        [responsiveLayout]="'scroll'"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        showGridlines="true"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Manage users</h5>
                <p-iconfield>
                    <p-inputicon class="pi pi-search"/>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Search..."/>
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="width:14rem">
                    <div class="flex items-center gap-2">
                        Name
                        <p-sortIcon field="name"/>
                    </div>
                </th>
                <th pSortableColumn="surname" style="width:14rem">
                    <div class="flex items-center gap-2">
                        Surname
                        <p-sortIcon field="surname"/>
                    </div>
                </th>
                <th pSortableColumn="address" style="min-width: 12rem">
                    <div class="flex items-center gap-2">
                        Address
                        <p-sortIcon field="address"/>
                    </div>
                </th>
                <th pSortableColumn="city" style="min-width: 12rem">
                    <div class="flex items-center gap-2">
                        City
                        <p-sortIcon field="city"/>
                    </div>
                </th>
                <th pSortableColumn="country" style="min-width: 12rem">
                    <div class="flex items-center gap-2">
                        Country
                        <p-sortIcon field="country"/>
                    </div>
                </th>
                <th style="width: 5rem">
                    <div class="flex items-center gap-2">
                        Active
                    </div>
                </th>
                <th style="width: 11rem">
                    <div class="flex items-center gap-2">
                        Action
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td style="min-width: 14rem">{{ user.name }}</td>
                <td style="min-width: 14rem">{{ user.surname }}</td>
                <td style="min-width: 5rem">{{ user.address }}</td>
                <td style="min-width: 5rem">{{ user.city }}</td>
                <td style="min-width: 5rem">{{ user.country }}</td>
                <td style="width: 5rem; text-align: center;">
                    <i *ngIf="user.isActive" class="pi pi-check text-green-500"></i>
                    <i *ngIf="!user.isActive" class="pi pi-times text-red-500"></i>
                </td>
                <td>
                    <p-button #buttonActive
                              *ngIf="user.isActive"
                              icon="pi pi-user-minus"
                              pTooltip="Set not active"
                              severity="info"
                              tooltipPosition="top"
                              class="mr-2"
                              [rounded]="true"
                              [outlined]="true"
                              (click)="setNotActive(user)"
                    />
                    <p-button #buttonActive
                              *ngIf="!user.isActive"
                              icon="pi pi-user-plus"
                              pTooltip="Set active"
                              severity="info"
                              tooltipPosition="top"
                              class="mr-2"
                              [rounded]="true"
                              [outlined]="true"
                              (click)="setActive(user)"
                    />
                    <p-button
                        icon="pi pi-pencil"
                        class="mr-2"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="editUser(user)"
                    />
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="confirm(user)"
                    />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No users to show</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="userDialog" header="User Details" [modal]="true">
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="flex flex-col gap-4">
                <div>
                    <label for="name" class="block font-bold mb-2">Name</label>
                    <input pInputText id="name" formControlName="name" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                        Name is required.
                    </small>
                </div>
                <div>
                    <label for="surname" class="block font-bold mb-2">Surname</label>
                    <input pInputText id="surname" formControlName="surname" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('surname')?.invalid && userForm.get('surname')?.touched">
                        Surname is required.
                    </small>
                </div>
                <div>
                    <label for="email" class="block font-bold mb-2">Email</label>
                    <input pInputText id="email" formControlName="email" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                        Email is required.
                    </small>
                </div>
                <div>
                    <label for="address" class="block font-bold mb-2">address</label>
                    <input pInputText id="address" formControlName="address" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('address')?.invalid && userForm.get('address')?.touched">
                        Address is required.
                    </small>
                </div>
                <div>
                    <label for="phoneNumber" class="block font-bold mb-2">phoneNumber</label>
                    <input pInputText id="phoneNumber" formControlName="phoneNumber" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched">
                        PhoneNumber is required.
                    </small>
                </div>
                <div>
                    <label for="city" class="block font-bold mb-2">city</label>
                    <input pInputText id="city" formControlName="city" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('city')?.invalid && userForm.get('city')?.touched">
                        City is required.
                    </small>
                </div>
                <div>
                    <label for="country" class="block font-bold mb-2">country</label>
                    <input pInputText id="country" formControlName="country" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('country')?.invalid && userForm.get('country')?.touched">
                        Country is required.
                    </small>
                </div>
                <div>
                    <label for="postalCode" class="block font-bold mb-2">postalCode</label>
                    <input pInputText id="postalCode" formControlName="postalCode" required autofocus
                           class="w-full p-inputtext-sm"/>
                    <small class="text-red-500"
                           *ngIf="userForm.get('postalCode')?.invalid && userForm.get('postalCode')?.touched">
                        POostalCode is required.
                    </small>
                </div>
            </div>
        </form>
        <ng-template #footer>
            <p-button label="Cancel" icon="pi pi-times" text (onClick)="userDialog=false"></p-button>
            <p-button type="submit" label="Save" [disabled]="userForm.invalid"
                      (onClick)="saveUser()"></p-button>
        </ng-template>
    </p-dialog>

    <p-confirmdialog #cd>
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                    <i class="pi pi-question !text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Confirm" (onClick)="onAccept()" styleClass="w-32"></p-button>
                    <p-button label="Cancel" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>
</div>
