<div class="card">
    <p-toast/>
    <h2>Users</h2>
    <p-toolbar class="m-1">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()"/>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="users"
        [loading]="loading"
        [paginator]="true"
        [rows]="10"
        [globalFilterFields]="['name', 'description']"
        [(selection)]="selectedUsers"
        [responsiveLayout]="'scroll'"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        showGridlines="true"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Manage users</h5>
                <p-iconfield>
                    <p-inputicon class="pi pi-search"/>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Search..."/>
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="width:14rem">
                    <div class="flex items-center gap-2">
                        Name
                        <p-sortIcon field="name"/>
                    </div>
                </th>
                <th pSortableColumn="surname" style="width:14rem">
                    <div class="flex items-center gap-2">
                        Surname
                        <p-sortIcon field="surname"/>
                    </div>
                </th>
                <th pSortableColumn="address" style="min-width: 12rem">
                    <div class="flex items-center gap-2">
                        Address
                        <p-sortIcon field="address"/>
                    </div>
                </th>
                <th pSortableColumn="city" style="min-width: 12rem">
                    <div class="flex items-center gap-2">
                        City
                        <p-sortIcon field="city"/>
                    </div>
                </th>
                <th pSortableColumn="country" style="min-width: 12rem">
                    <div class="flex items-center gap-2">
                        Country
                        <p-sortIcon field="country"/>
                    </div>
                </th>
                <th style="width: 5rem">
                    <div class="flex items-center gap-2">
                        Active
                    </div>
                </th>
                <th style="width: 11rem">
                    <div class="flex items-center gap-2">
                        Action
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td style="min-width: 14rem">{{ user.name }}</td>
                <td style="min-width: 14rem">{{ user.surname }}</td>
                <td style="min-width: 5rem">{{ user.address }}</td>
                <td style="min-width: 5rem">{{ user.city }}</td>
                <td style="min-width: 5rem">{{ user.country }}</td>
                <td style="width: 5rem; text-align: center;">
                    <i *ngIf="user.isActive" class="pi pi-check text-green-500"></i>
                    <i *ngIf="!user.isActive" class="pi pi-times text-red-500"></i>
                </td>
                <td>
                    <p-button #buttonActive
                              *ngIf="user.isActive"
                              icon="pi pi-user-minus"
                              pTooltip="Set not active"
                              severity="info"
                              tooltipPosition="top"
                              class="mr-2"
                              [rounded]="true"
                              [outlined]="true"
                              (click)="setNotActive(user)"
                    />
                    <p-button #buttonActive
                              *ngIf="!user.isActive"
                              icon="pi pi-user-plus"
                              pTooltip="Set active"
                              severity="info"
                              tooltipPosition="top"
                              class="mr-2"
                              [rounded]="true"
                              [outlined]="true"
                              (click)="setActive(user)"
                    />
                    <p-button
                        icon="pi pi-pencil"
                        pTooltip="Edit"
                        class="mr-2"
                        tooltipPosition="top"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="editUser(user)"
                    />
                    <p-button
                        icon="pi pi-trash"
                        pTooltip="Remove"
                        severity="danger"
                        tooltipPosition="top"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="deleteUser(user)"
                    />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No users to show</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="userDialog" header="User details" [modal]="true">
        <ng-template #content>
            <div class="flex flex-col gap-6">
                <div>
                    <label for="name" class="block font-bold mb-3">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="user.name" required autofocus fluid/>
                    <small class="text-red-500" *ngIf="submitted && !user.name">Name is required.</small>
                </div>
                <div>
                    <label for="description" class="block font-bold mb-3">Description</label>
                    <textarea id="description" pTextarea [(ngModel)]="user.name" required rows="3" cols="20"
                              fluid></textarea>
                </div>

                <!--            <div>-->
                <!--                <span class="block font-bold mb-4">Category</span>-->
                <!--                <div class="grid grid-cols-12 gap-4">-->
                <!--                    <div class="flex items-center gap-2 col-span-6">-->
                <!--                        <p-radiobutton id="category1" name="category" value="Accessories" [(ngModel)]="product.category" />-->
                <!--                        <label for="category1">Accessories</label>-->
                <!--                    </div>-->
                <!--                    <div class="flex items-center gap-2 col-span-6">-->
                <!--                        <p-radiobutton id="category2" name="category" value="Clothing" [(ngModel)]="product.category" />-->
                <!--                        <label for="category2">Clothing</label>-->
                <!--                    </div>-->
                <!--                    <div class="flex items-center gap-2 col-span-6">-->
                <!--                        <p-radiobutton id="category3" name="category" value="Electronics" [(ngModel)]="product.category" />-->
                <!--                        <label for="category3">Electronics</label>-->
                <!--                    </div>-->
                <!--                    <div class="flex items-center gap-2 col-span-6">-->
                <!--                        <p-radiobutton id="category4" name="category" value="Fitness" [(ngModel)]="product.category" />-->
                <!--                        <label for="category4">Fitness</label>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->


            </div>
        </ng-template>

        <ng-template #footer>
            <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()"/>
            <p-button label="Save" icon="pi pi-check" (click)="saveUser()"/>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"/>
</div>
